<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>HCPM</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>

                </ul>
            </nav>
            <h3 class="text-muted">Himalaya Properties</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Property Management</h1>
            <p class="lead"></p>

        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Property List</h4>
                <h4>Tenant List</h4>
                <h4>Category List</h4>
                
 
                
            </div>
 

        </div>
 
        <footer class="footer">
            <p>&copy; Company 2020</p>
        </footer>
 
    </div>
</body>
 
</html>